# Chapter 8 Lists

### 8.1 A list is a sequence

In [1]:
# list of integers
[10, 20, 30, 40]

# list of strings
['frog','toad','salamander','newt']

# mixed list
[10,'twenty',30.0,[40, 45]]

[10, 'twenty', 30.0, [40, 45]]

In [2]:
cheeses = ['Cheddar','Mozzarella','Gouda','Swiss']
numbers = [27, 42]
empty = []
print(cheeses, numbers, empty)

['Cheddar', 'Mozzarella', 'Gouda', 'Swiss'] [27, 42] []

### 8.2 Lists are mutable

In [3]:
numbers = [27, 62]
numbers[1] = 42
print(numbers)

[27, 42]

In [4]:
cheeses = ['Cheddar','Mozzarella','Gouda','Swiss']
'Swiss' in cheeses

True

In [5]:
'Brie' in cheeses

False

### 8.3 Traversing a list

In [6]:
cheeses = ['Cheddar','Mozzarella','Gouda','Swiss']
for cheese in cheeses:
    print(cheese)

Cheddar
Mozzarella
Gouda
Swiss

In [7]:
numbers = [10, 20, 30, 40]
for i in range(len(numbers)):
    numbers[i] = numbers[i] + 2
print(numbers)

[12, 22, 32, 42]

In [9]:
empty = []
for x in empty:
    print('This never happens.')

In [10]:
len(['spam', 1, ['sun','moon','stars'], [1,2,3]])

4

### 8.4 List operations

In [11]:
a = [1,2,3]
b = [4,5,6]
c = a + b
print(c)

[1, 2, 3, 4, 5, 6]

In [12]:
[0]*4

[0, 0, 0, 0]

In [13]:
[1,2,3]*3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

### 8.5 List slices

In [14]:
t = ['a','b','c','d','e','f']
t[1:3]

['b', 'c']

In [15]:
t[:4]

['a', 'b', 'c', 'd']

In [16]:
t[3:]

['d', 'e', 'f']

In [17]:
t[:]

['a', 'b', 'c', 'd', 'e', 'f']

In [18]:
t[1:3] = ['x','y']
print(t)

['a', 'x', 'y', 'd', 'e', 'f']

### 8.6 List methods

In [19]:
t = ['a','b','c']
t.append('d')
print(t)

['a', 'b', 'c', 'd']

In [20]:
t1 = ['a','b','c']
t2 = ['d','e']
t1.extend(t2)
print(t1)

['a', 'b', 'c', 'd', 'e']

In [21]:
t = ['d','c','e','b','a']
t.sort()
print(t)

['a', 'b', 'c', 'd', 'e']

### 8.7 Deleting elements

In [22]:
t = ['a','b','c']
x = t.pop(1)
print(t)

['a', 'c']

In [23]:
print(x)

b

In [24]:
t = ['a','b','c']
del t[1]
print(t)

['a', 'c']

In [25]:
t = ['a','b','c']
x = t.remove('b')
print(t)

['a', 'c']

In [27]:
t = ['a','b','c','b']
x = t.remove('b') #removes first instance
print(t)

['a', 'c', 'b']

In [28]:
t = ['a', 'b', 'c', 'd', 'e','f']
del t[1:5]
print(t)

['a', 'f']

### 8.8 Lists and functions

In [29]:
nums = [3, 41, 12, 9, 74, 15]
print(len(nums))

6

In [30]:
print(max(nums))

74

In [31]:
print(min(nums))

3

In [32]:
print(sum(nums))

154

In [33]:
print(sum(nums)/len(nums))

25.666666666666668

In [34]:
numlist = list()
while(True):
    inp = input('Enter a number: ')
    if inp == 'done': break
    try:    
        value = float(inp)
        numlist.append(value)
    except:
        print('That was not a number. Continue...')
        continue
average = sum(numlist)/len(numlist)
print('Average:', average)

Enter a number:  4
Enter a number:  565
Enter a number:  fg

That was not a number. Continue...

Enter a number:  5
Enter a number:  643
Enter a number:  3
Enter a number:  4
Enter a number:  5
Enter a number:  done

Average: 175.57142857142858

### 8.9 Lists and strings

In [35]:
s = 'spam'
t = list(s)
print(t)

['s', 'p', 'a', 'm']

In [36]:
s = 'That there’s some good in this world, Mr. Frodo… and it’s worth fighting for.'
t = s.split()
print(t)

['That', 'there’s', 'some', 'good', 'in', 'this', 'world,', 'Mr.', 'Frodo…', 'and', 'it’s', 'worth', 'fighting', 'for.']

In [37]:
print(t[3])

good

In [38]:
s = 'spam-spam-spam'
delimiter = '-'
s.split(delimiter)

['spam', 'spam', 'spam']

In [40]:
t = ['That', 'there’s', 'some', 'good', 'in', 'this', 'world,', 'Mr.', 'Frodo…', 'and', 'it’s', 'worth', 'fighting', 'for.']
delimiter = ' '
delimiter.join(t)

'That there’s some good in this world, Mr. Frodo… and it’s worth fighting for.'

### 8.10 Parsing lines

In [43]:
fhand = open('mbox-short.txt')
for line in fhand:
    line = line.rstrip()
    if not line.startswith('From '): continue
    words = line.split()
    print(words[2])

Sat
Fri
Fri
Fri
Fri
Fri
Fri
Fri
Fri
Fri
Fri
Fri
Fri
Fri
Fri
Fri
Fri
Fri
Fri
Fri
Fri
Thu
Thu
Thu
Thu
Thu
Thu

### 8.11 Objects and values

In [53]:
# same object, two variables pointing to the same object
a = 'banana'
b = 'banana'
a is b

True

In [54]:
# same value because a and b point to the same object
a == b

True

In [55]:
# two separate objects
a = [1,2,3]
b = [1,2,3]
a is b

False

In [56]:
# same value
a == b

True

### 8.12 Aliasing

In [57]:
# b points to the same object as a
a = [1,2,3]
b = a
b is a

True

In [58]:
b[0] = 17
print(a)

[17, 2, 3]

### 8.13 List arguments

In [59]:
def delete_head(t):
    del t[0]

In [61]:
letters = ['a','b','c']
delete_head(letters)
print(letters)

['b', 'c']

In [62]:
t1 = [1,2]
t2 = t1.append(3)
print(t1)

[1, 2, 3]

In [63]:
print(t2)

None

In [65]:
t1 = [1,2]
t3 = t1 + [3]
print(t3)

[1, 2, 3]

In [ ]:
# changes t within the scope of the function but not 
# the value of the variable passed to it
def bad_delete_head(t):
    t = t[1:]

In [66]:
def tail(t):
    return t[1:]

In [67]:
letters = ['a','b','c']
rest = tail(letters)
print(rest)

['b', 'c']